<table summary="Note form fields">
	<tr>
		<td><%= f.hidden_field(:account_id) %></td>
	</tr>
	<tr>
		<td><%= f.hidden_field(:date) %></td>
	</tr>
	<tr>
		<td><%= f.hidden_field(:created_by) %></td>
	</tr>
	<tr>
		<th><%= f.label(:note) %></th>
		<td><%= f.text_area(:note, :size => "40x5") %></td>
	</tr>
</table>