<% @page_title = "Notes" %>
<%= link_to("<<Back to Accounts", {:controller => 'accounts', :state => @account.state, :doctor => @account.doctor}, :class => 'back-link') %>

<div class="menu">
	<h2>Date Menu</h2>
	<div class = "identity">Logged in as: <%= session[:username] %></div>
	<%= link_to(image_tag('plus_sign.png', :size => '11x11', :alt => '+') + " Add New Note", {:action => 'new', :account_id => @account.id, :date => 'date'}, :class => 'action new') %>
	<ul>
		<% if !@s1.empty? %>
			<li><%= link_to("Show All", :controller => 'notes', :account_id => @account.id, :date => "Show All") %></li>
		<% else %>
			<h3>No Notes Created</h3>
		<% end %>
		<% @s1.each do |date| %>
		<li><%= link_to(date, :controller => 'notes', :account_id => @account.id, :date => date) %></li>
		<% end %>
	</ul>
</div>