<table summary="Account form fields">
	<tr>
		<td><%= f.hidden_field(:state) %></td>
	</tr>
	<tr>
		<td><%= f.hidden_field(:doctor) %></td>
	</tr>
	<tr>
		<th><%= f.label(:name) %></th>
		<td><%= f.text_field(:name) %></td>
	</tr>
	<tr>
		<th><%= f.label(:affiliate_number, "Affiliate Code") %></th>
		<td><%= f.text_field(:affiliate_number) %></td>
	</tr>
	<tr>
		<th><%= f.label(:business, "Name of Business") %></th>
		<td><%= f.text_field(:business) %></td>
	</tr>
	<tr>
		<th><%= f.label(:address) %></th>
		<td><%= f.text_field(:address) %></td>
	</tr>
	<tr>
		<th><%= f.label(:phone) %></th>
		<td><%= f.text_field(:phone) %></td>
	</tr>
	<tr>
		<th><%= f.label(:fax) %></th>
		<td><%= f.text_field(:fax) %></td>
	</tr>
	<tr>
		<th><%= f.label(:email) %></th>
		<td><%= f.text_field(:email) %></td>
	</tr>
	<tr>
		<th><%= f.label(:website) %></th>
		<td><%= f.text_field(:website) %></td>
	</tr>
	<tr>
		<th><%= f.label(:account_type, "Steps")%></th>
		<td>
			<%= f.radio_button(:account_type, "Purple") %>Letter<%= f.radio_button(:account_type, "Yellow") %>Hot<%= f.radio_button(:account_type, "Blue") %>No Contact Yet
		</td>
	</tr>
	<tr>
		<th><%= f.label(:other_type, "Sent")%></th>
		<td>
			<%= f.radio_button(:other_type, "Active") %>Active<%= f.radio_button(:other_type, "Hot") %>Hot<%= f.radio_button(:other_type, "No Contact Yet") %>No Contact Yet
		</td>
	</tr>
</table>