<table summary="Account form fields">
	<tr>
		<td><%= f.hidden_field(:state) %></td>
	</tr>
	<tr>
		<td><%= f.hidden_field(:doctor) %></td>
	</tr>
	<tr>
		<th><%= f.label(:name) %></th>
		<td><%= f.text_field(:name) %></td>
	</tr>
	<tr>
		<th><%= f.label(:affiliate_number, "Affiliate Code") %></th>
		<td><%= f.text_field(:affiliate_number) %></td>
	</tr>
	<tr>
		<th><%= f.label(:business, "Name of Business") %></th>
		<td><%= f.text_field(:business) %></td>
	</tr>
	<tr>
		<th><%= f.label(:address) %></th>
		<td><%= f.text_field(:address) %></td>
	</tr>
	<tr>
		<th><%= f.label(:phone) %></th>
		<td><%= f.text_field(:phone) %></td>
	</tr>
	<tr>
		<th><%= f.label(:fax) %></th>
		<td><%= f.text_field(:fax) %></td>
	</tr>
	<tr>
		<th><%= f.label(:email) %></th>
		<td><%= f.text_field(:email) %></td>
	</tr>
	<tr>
		<th><%= f.label(:website) %></th>
		<td><%= f.text_field(:website) %></td>
	</tr>
	<tr>
		<th><%= f.label(:letter, "Letter")%></th>
		<td>
			<%= f.radio_button(:letter, "Nothing") %>No<%= f.radio_button(:letter, "Purple") %>Yes
		</td>
	</tr>
	<tr>
		<th><%= f.label(:certificate, "Certificate")%></th>
		<td>
			<%= f.radio_button(:certificate, "Nothing") %>No<%= f.radio_button(:certificate, "Yellow") %>Yes
		</td>
	</tr>
	<tr>
		<th><%= f.label(:pads, "Pads")%></th>
		<td>
			<%= f.radio_button(:pads, "Nothing") %>No<%= f.radio_button(:pads, "Black") %>Yes
		</td>
	</tr>
	<tr>
		<th><%= f.label(:sent, "Sent")%></th>
		<td>
			<%= f.radio_button(:sent, "Nothing") %>No<%= f.radio_button(:sent, "Green") %>Yes
		</td>
	</tr>
	<tr>
		<th><%= f.label(:emailed, "Emailed")%></th>
		<td>
			<%= f.radio_button(:emailed, "Nothing") %>No<%= f.radio_button(:emailed, "Orange") %>Yes
		</td>
	</tr>
	<tr>
		<th><%= f.label(:call, "Called")%></th>
		<td>
			<%= f.radio_button(:call, "Nothing") %>No<%= f.radio_button(:call, "Blue") %>Yes
		</td>
	</tr>
	<tr>
		<th><%= f.label(:sold, "Sold")%></th>
		<td>
			<%= f.radio_button(:sold, "Nothing") %>No<%= f.radio_button(:sold, "Red") %>Yes
		</td>
	</tr>
</table>