<% @page_title = "Accounts" %>

<%= link_to("<<Back to Menu", {:controller => 'access', :action => 'index'}, :class => 'back-link') %>

<div class="accounts index">
	<h2>Accounts</h2>

	<%= link_to(image_tag('plus_sign.png', :size => '11x11', :alt => '+') + " Add New Account", {:controller => 'accounts', :action => 'new'}, :class => 'action new') %>

	<div><%= pluralize(@accounts.size, 'account') %> found</div>
	<table class="listing" summary="Account list">
		<tr class="header">
			<th><div style="width: 130px" >Affiliate Number</div></th>
			<th><div style="width: 130px" >Name</div></th>
			<th><div style="width: 130px" >Business</th>
			<th><div style="width: 20px" >Type</th>
			<th><div style="width: 20px" >Type</th>
			<th>Actions</th>
		</tr>
		<% @accounts.each do |account| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><div style="width: 130px" ><%= account.affiliate_number %></div></td>
			<td><div style="width: 130px" ><%= account.name %></div></td>
			<td><div style="width: 130px" ><%= account.business %></div></td>
			<td class="center"><%= account_status_tag(account.account_type) %></td>
			<td class="center"><%= account_status_tag(account.other_type) %></td>
			<td class="actions">
				<%= link_to("View Notes", {:controller => 'notes', :action => 'date', :account_id => account.id}, :class => 'action show') %>
				<%= link_to("Show", {:action => 'show', :id => account.id}, :class => 'action show') %>
				<%= link_to("Edit", {:action => 'edit', :id => account.id}, :class => 'action edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => account.id}, :class => 'action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>