<% @page_title = "Accounts" %>

<%= link_to("<<Back to List", {:action => 'index', :state => @account.state, :doctor => @account.doctor}, :class => 'back-link') %>

<div class="accounts show">
	<h2>Show Account</h2>

	<table summary="Account detail view">
		<tr>
			<th>Name</th>
			<td><%= @account.name %></td>
		</tr>
		<tr>
			<th>Affiliate Code</th>
			<td><%= @account.affiliate_number %></td>
		</tr>
		<tr>
			<th>Business</th>
			<td><%= @account.business %></td>
		</tr>
		<tr>
			<th>Address</th>
			<td><%= @account.address %></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td><%= @account.phone %></td>
		</tr>
		<tr>
			<th>Fax</th>
			<td><%= @account.fax %></td>
		</tr>
		<tr>
			<th>Email 1</th>
			<td><%= @account.email %></td>
		</tr>
		<tr>
			<th>Email 2</th>
			<td><%= @account.email2 %></td>
		</tr>
		<tr>
			<th>Website</th>
			<td><%= @account.website %></td>
		</tr>
		<tr>
			<th>Doctor</th>
			<td><%= @account.doctor %></td>
		</tr>
		<tr>
			<th>State</th>
			<td><%= @account.state %></td>
		</tr>
		<tr>
			<th>Created At</th>
			<td><%=l @account.created_at %></td>
		</tr>
		<tr>
			<th>Last Updated</th>
			<td><%=l @account.updated_at %></td>
		</tr>
	</table>

</div>