<% @page_title = "States" %>

<%= link_to("<<Back to Menu", {:controller => 'access', :action => 'index'}, :class => 'back-link') %></br>

<%= link_to("<<Back to Doctors", {:controller => 'accounts', :action => 'doctor'}, :class => 'back-link') %>



<div class="menu">
	<h2><%= @page_title %></h2>
	<div class = "identity">Logged in as: <%= session[:username] %></div>
	<ul>
		<% @states.each do |state| %>
		<li><%= link_to(state, :controller => 'accounts', :action => 'index', :doctor => params[:doctor], :state => state) %></li>
		<% end %>
	</ul>
</div>